@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --color-bg: #000;
  --color-text-primary: #F6F6F6;
  --colored-primary: #22D4FD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
  background-color: var(--color-bg);
}

.container {
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.apresentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.apresentation__content--title {
  color: var(--color-text-primary);
  font-size: 36px;
  font-weight: 400;
  line-height: 56px; /* 155.556% */ 
  font-family: 'Krona One', sans-serif;
}
.apresentation__content--title span {
  color: var(--colored-primary);
}
.apresentation__content p {
  color: var(--color-text-primary);
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 50px;
}
.apresentation__content--buttons {
  display: flex;
  gap: 50px;
}
.apresentation__content--buttons a {
  width: 100%;
  padding: 7px;
  border-radius: 16px;
  border: 0px solid #22D4FD;
  background: #22D4FD;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  transition: color .3s;
}
.apresentation__content--buttons a:hover {
  color: var(--color-text-primary);
}

.apresentation__photo img {
  width: 100%;
}

@media screen and (max-width: 750px){
  .apresentation {
    grid-template-columns: 1fr;
  }
  .apresentation__photo{
    grid-row: 1;
  }
  .apresentation__photo img {
    padding: 50px 50px 0 50px;
  }
}